/*
.sidebar-menu > li.active {
    border-left: 4px solid #3c8dbc;
    background: #293846;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: transparent;;
}*/

.sidebar-menu .treeview-menu {
	padding-left: 24px;
}

.sidebar-menu > li > a i {
    margin-right: 6px;
}

.text-of {
  text-overflow: ellipsis;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}

.mactive {
	border-bottom: 3px solid #ff2832;
	color: #ff2832;
    margin-bottom: -2px;
}
