{% extends 'xadmin/base.html' %}
{% load i18n xadmin_tags %}


{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block body %}
<div class="wrapper">

      <!-- content nav -->
      {% block content-nav %}
      <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
        data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
        data-class-sm="navbar content-navbar navbar-default navbar-xs">

        <div class="navbar-header">
          {% view_block 'nav_toggles' %}
          {% block nav_toggles %}
          {% include "xadmin/includes/toggle_back.html" %}
          {% endblock %}

        </div>

        <div class="navbar-collapse collapse">
          <div class="navbar-btn navbar-left hide-xs">
            {% view_block 'nav_btns' %}
            {% block nav_btns %}{% endblock %}
          </div>

          {% block nav_form %}{% endblock %}
          <!-- 搜索框 -->
          {% view_block 'nav_form' %}

          <!-- 过滤器 -->
          <div class="navbar-right">
            {% view_block 'nav_menu' %}
          </div>
        </div>
      </div>
      {% endblock %}

      <!-- messages -->
      {% block messages %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissable{% if message.tags %} {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}{% endif %}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {% endblock messages %}

      <!-- content -->
      {% block content %}
      {{ content }}
      {% endblock %}


</div>
{% endblock body %}

