{% load xadmin_tags %}{% load i18n %}<!DOCTYPE html>
<html lang="zh_CN">
<head>
  {% block extrameta %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  {% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  {% vendor 'bootstrap.css' %}
  {% if site_theme %}
  <link rel="stylesheet" type="text/css" id="site-theme" href="{{site_theme}}" />
  {% else %}
  <link rel="stylesheet" type="text/css" href="{% static "xadmin/css/themes/bootstrap-xadmin.css" %}" />
  {% endif %}
  {% vendor 'font-awesome.css' 'xadmin.main.css' 'xadmin.plugins.css' 'xadmin.responsive.css' %}
    {% if head_fix %}
        <link href="{% static "xadmin/css/xadmin.main.frame.css" %}" rel="stylesheet">
    {% endif %}
  {{ media.css }}
  {% block extrastyle %}{% endblock %}
  {% vendor 'jquery.js' %}
  {% url 'xadmin:index' as indexurl %}
  <script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% static "xadmin/" %}{% endfilter %}";
    window.__admin_path_prefix__ = "{% filter escapejs %}{{ indexurl }}{% endfilter %}";
  </script>
  {% if head_fix %}
    <script type="text/javascript" src="{% static "xadmin/js/site_config.js" %}"></script>
  {% endif %} 
  <script type="text/javascript" src="{% url 'xadmin:jsi18n' %}"></script>
  {% block extrahead %}{% endblock %}
  {% view_block 'extrahead' %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
  {% block body %}{% endblock body %}
  {% vendor 'jquery-ui-sortable.js' 'bootstrap.js' 'xadmin.main.js' 'xadmin.responsive.js' %}
  {{ media.js }}
  {% block extrabody %}{% endblock %}
  {% view_block 'extrabody' %}
</body>
</html>
