{% extends 'xadmin/base.html' %}
{% load i18n xadmin_tags %}


{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block extrastyle %}

    <style style="text/css">
      #sap-container{position: relative;width: 100%;height: 100%;}
      #sap-container iframe{display: block;width: 100%;height: 100%;border: none;}
    </style>

{% endblock %}

{% block body %}
<div class="wrapper">

    <!-- Header -->
      {% include 'xadmin/includes/head_nav_ext.html' %}


    <!-- left side menu -->
    {% block left_menu %}
    <aside class="main-sidebar">
    <section style="height: auto;" class="sidebar">
        {% block navbar %}
        {% if nav_menu %}
          {% include menu_template %}
        {% else %}
          <p></p>
        {% endif %}
      {% endblock %}
      {% view_block 'left_navbar' %}
    </section>
    </aside>
    {% endblock %}

    <div id="content-block" class="content-wrapper" >

            <!-- 右侧iframe展示区域  -->
            <div id="sap-container">
            </div>

    </div>


</div>
{% endblock body %}


{% block extrabody %}
    <script src="/static/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/xadmin/js/iframer.js" type="text/javascript"></script>

    <script>

        $(document).ready(function() {
            
            $(".sidebar-menu a.jumpto").on("click", function (){
                //var to = $(this).attr("href");
                //if (to.length>1){
                if ($(this).hasClass('jumpto')){
                    $(".sidebar-menu a.jumpto").parent().removeClass('active');
                    $(this).parent().addClass('active');
                    //iframer.jumpTo(to);
                    //return false;
                }
            });
            

            function fix_height() {
                var h = $(window).height() - 52 + "px"
                //$('#content-block').css("height",h);
                $('#sap-container').css("height",h);
                //$('#sap-container iframe').contents().find("#content-block").css("min-height",h);
            }

            $(window).bind("load resize scroll", function () {
                fix_height();
            });

        });

      iframer.init({
         //存放iframe的容器
         container : document.getElementById('sap-container'),
         expect_class : 'spa-expect-links',
      });
    </script>
{% endblock %}
